* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: ghostwhite;
}
.Main-form {
    width: 385px;
    height: 391px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
.container {
    display: flex;
    justify-content: end;
    margin: 21px;
}
.close {
    width: 14px;
    height: 14px;
        }

    form {
        width: 356px;
        margin-left: auto;
        margin-right: auto;

    }
    input {
        width: 356px;
        height: 48px;
       

    }

    button {
        width: 356px;
        height: 48px;
        }
        
        